.hearts {
  position: absolute;
  top: 0;
  left: 500px;
  width: 100%;
  height: 280px;
  pointer-events: none;
  z-index: 4;
  pointer-events: none;
}

.heart {
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 40px;
  opacity: 0;
  animation-fill-mode: forwards;
}

.open.heart {
  opacity: 1;
}

.a1 {
  left: 20%;
  animation: rise1 4s linear forwards 0.5s;
}

.a2 {
  left: 50%;
  animation: rise2 5s linear forwards 0.7s;
}

.a3 {
  left: 70%;
  animation: rise3 6s linear forwards 0.9s;
}

.a4 {
  left: 10%;
  animation: rise1 4s linear forwards 0.5s;
}

.a5 {
  left: 90%;
  animation: rise2 5s linear forwards 0.7s;
}

.a6 {
  left: 60%;
  animation: rise3 6s linear forwards 0.9s;
}

@keyframes rise1 {
  0% {
    bottom: 0;
    opacity: 1;
  }

  100% {
    bottom: 280px;
    opacity: 0;
  }
}

@keyframes rise2 {
  0% {
    bottom: 0;
    opacity: 1;
  }

  100% {
    bottom: 280px;
    opacity: 0;
  }
}

@keyframes rise3 {
  0% {
    bottom: 0;
    opacity: 1;
  }

  100% {
    bottom: 280px;
    opacity: 0;
  }
}